<style>
html{
    background-color: darkkhaki;
}
</style>
{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <h5>Welcome to myChatApp.</h5>
    <form method="POST" action="">
        {% csrf_token %}
        <label>username</label>
    <input type="text" name="username" placeholder="Enter username"/>
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter Password"/>

    <input type="Submit" value="Login"/>
    </form>

    <p>Not yet registered?</p>
    <a href="{% url 'register' %}">Sign Up</a>
</div>
{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
      {{form.as_p}}
    <input type="Submit" value="Register"/>
</form>
    <p>Already signed up?</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}
{% endblock content %}